@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Klee+One:wght@600&family=PT+Sans+Narrow&family=Rajdhani&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);




.btn {
    border-radius: 0;
    font-family: 'Kalam', sans-serif;
}

.btn:hover {
    opacity: 0.8;
}

.nav-link:hover {

    border-bottom: 2px solid white;
}

.contactform {
    border-radius: 0;
}

textarea {
    border-color: #dee2e6;
}



tr,
td {
    border: 1px solid #3e3d3a;
}

#navbarlist {
    font-size: 18px;
    font-family: 'Kalam', sans-serif;
}

.backtotop:link {
    color: #6c757d
}

.backtotop:visited {
    color: #6c757d
}

.backtotop:hover {
    color: #6c757d
}

#chat {
    position: fixed;
    right: 0px;
    bottom: 0px;
    /* background-image: url(./img/Chat.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;

}

#card-number,#card-passord {

    display: block;
    width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
#card-passord, #card-date {

    display: block;
    width: 100px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


#card-number:focus,#card-date:focus,#card-passord:focus {
    border-color: rgb(199, 194, 161);
    outline: 0;
}

/* #card-passord:focus {
    border-color: rgb(199, 194, 161);
    outline: 0;
}

#card-passord:focus {
    border-color: rgb(199, 194, 161);
    outline: 0;
} */

a {
    text-decoration: none;
}



input[type="email"]:invalid+span::after,
input[type="text"]:invalid+span::after,
input[type="tel"]:invalid+span::after       
 {
    content:"✖";
    color: red;
}

input[type="email"]:valid+span::after,
input[type="text"]:valid+span::after,
input[type="tel"]:valid+span::after {
    content: "✓";
    color: green;

}

