#navbarlist {
    font-size: 18px;
    font-family: 'Kalam', sans-serif;
}

.btn {
    border-radius: 0;
    font-family: 'Kalam', sans-serif;
}

.btn:hover {
    opacity: 0.8;
}

.nav-link:hover {

    border-bottom: 2px solid white;
}

.guestroom {
    /* Auto layout */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    /* padding: 30px 0px 0px; */
    gap: 20px;


    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.guestroomtext {
    height: 109px;


    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 109px;
    /* identical to box height */
    font-family: 'Kalam', sans-serif;
    padding-left: 30px;
    color: #3e3d3a;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.guestroomsecond {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    height: 747px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.photo {

    width: 100%;
    /* height: 500px; */

    /* background-image: url(./img/lobby1.png); */

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: -21px 0px;

}


.sleepwheretext {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* width: 1440px; */
    /* height: 87px; */


    /* Inside auto layout */

    flex: none;
    order: 1;
    /* align-self: stretch; */
    flex-grow: 0;
}

.sleepwhere {
    /* width: 596px; */
    /* height: 87px; */
    font-family:  'cwTeXYen', sans-serif;
    /* font-family: 'Inter'; */
    font-style: normal;
    /* font-weight: 400; */
    font-size: 4rem;
    /* line-height: 87px; */

    color: #3e3d3a;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.gogosleep {
    /* width: 583px; */
    /* height: 87px; */
    font-family:  'cwTeXYen', sans-serif;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 29px;
    display: flex;
    align-items: flex-end;

    /* color: #B3B3B3; */
    color: #3e3d3a;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* 下半部 */
.allroom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 40px;

    /* width: 1440px; */
    /* height: 507px; */


    /* Inside auto layout */
    /* 
    flex: none;
    order: 0;
    flex-grow: 1; */
}

.room1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0 0 25px;

    /* width: 340px; */
    /* height: 497.14px; */

    background: #FFFFFF;

    /* Inside auto layout */
    /* 
    flex: none;
    order: 0;
    flex-grow: 1; */
}

.roomtext {

    /* Auto layout */
    font-family: 'cwTeXYen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    /* padding: 10px 0 0 25px; */
    /* gap: 5px; */

    /* width: 340px; */
    /* height: 73px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
}

.roomtextlarge {
    /* width: 340px; */
    /* height: 39px; */
    font-family: 'cwTeXYen', sans-serif;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    /* identical to box height */
    padding: 10px;
    text-align: center;

    color: #3e3d3a;


    /* Inside auto layout */

    /* flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; */
}

.roomtextsmall {
    /* width: 340px; */
    /* height: 24px; */
    font-family: 'cwTeXYen', sans-serif;;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #8C7C79;


    /* Inside auto layout */


}

.room-icon-text {
    font-size: 18px;
}

h3 {
    align-items: start;
    font-size: 3rem;
}

h4 {
    align-items: start;
    font-size: 2rem;
    padding: 2px;
    margin: 1rem;
}

p {
    align-items: start;
}

.title {
    text-align: start;
    padding-left: 10px;
}

.bookingbtn {
    background-color: rgb(199, 194, 161);
    color: #47463A;
}

.bookingbtn:hover {
    background-color: rgb(199, 194, 161);
    color: white;
}


.roombtn {
    background-color: hsl(28, 40%, 75%, 0.8);
    border: 1px solid hsl(28, 40%, 75%, 0.8);
    padding: 10px 10px 1px 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;

}

.roombtn:hover {
    background-color: hsl(22, 40%, 58%, 0.7);
    border: #BF8969;
}

.btnlink:link {
    color: #3e3d3a;
}

.btnlink:visited {
    color: #3e3d3a;
}

/* .btnlink:hover{color: white;} */

.insidebtnlink:link {
    color: rgb(199, 194, 161);
}

.insidebtnlink:visited {
    color: #3e3d3a;
}

.insidebtnlink:hover {
    color: #3e3d3a;
}

a {
    text-decoration: none;
}

.backtotop:link {
    color: #6c757d
}

.backtotop:visited {
    color: #6c757d
}

.backtotop:hover {
    color: #6c757d
}

#chat {
    position: fixed;
    right: 0px;
    bottom: 0px;
    /* background-image: url(./img/Chat.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;

}

.roomimg {
    width: 300px;
    height: 424.14px;
    border-radius: 10px;
}