@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Klee+One:wght@600&family=PT+Sans+Narrow&family=Rajdhani&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.header {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    padding-bottom: 600px;
    object-fit: contain;
    background-image: url(../img/lobby1.png);
}


@media screen and (max-width:564px){
    .header{
        background-image: url(../img/lobby2-1.png);
         
}
}

/* 裝置寬度大於 1000px */
/* div 背景設定粉紅色 */
/* @media screen and (min-width:1000px){
    .header{
        background-image: url(./img/lobby1.png);
         
}
} */

.location{
    line-height: 2;
    margin: 50px 0 0 0;
}




.btn {
    border-radius: 0;
    font-family: 'Kalam', sans-serif;
}

.btn:hover {
    opacity: 0.8;
}
.nav-link:hover{
    
    border-bottom: 2px solid white;
}

.contactform{
    border-radius: 0;
}

textarea{
    border-color: #dee2e6;
}

/* textarea:hover{
    border-color: rgb(199, 194, 161);
} */

tr,td{
    border: 1px solid #3e3d3a;
}

#navbarlist{
    font-size: 18px;
    font-family: 'Kalam', sans-serif;
}

.btnlink:link{ color: #3e3d3a;}
.btnlink:visited{ color: white;}
.btnlink:hover{color:#3e3d3a;}

a{
    text-decoration:none;
}

.bookingbtn:hover{
    color: #3e3d3a;
}

.backtotop:link{ color: #6c757d}
.backtotop:visited{ color: #6c757d}
.backtotop:hover{ color: #6c757d}

#chat {
    position: fixed;
    right: 0px;
    bottom: 0px;
    /* background-image: url(./img/Chat.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;

}
.about , .loc{
    font-family: 'Kalam', sans-serif;   
}
